<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">

      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Llamadas</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Favoritos</ion-title>
    <ion-button fill="clear" slot="end">Más</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Papá</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Mamá</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Hermano Samuel</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Hermana Nay</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Hermana Erika</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Hermana Nay</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Papá</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Mamá</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Mamá</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Joss</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Yami</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Nay</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

<ion-item>
      <ion-avatar slot="start">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Familia</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Samuel Hermano</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Abuelita <3</ion-label>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="call-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="videocam-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-list>

</ion-content>
