// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-primary: #215C54;
	--ion-color-primary-rgb: 33,92,84;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #1d514a;
	--ion-color-primary-tint: #376c65;

	--ion-color-secondary: #35897E;
	--ion-color-secondary-rgb: 53,137,126;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #2f796f;
	--ion-color-secondary-tint: #49958b;

	--ion-color-tertiary: #59CE72;
	--ion-color-tertiary-rgb: 89,206,114;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #4eb564;
	--ion-color-tertiary-tint: #6ad380;

	--ion-color-success: #FFFFFF;
	--ion-color-success-rgb: 255,255,255;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #e0e0e0;
	--ion-color-success-tint: #ffffff;

	--ion-color-warning: #E0F6CA;
	--ion-color-warning-rgb: 224,246,202;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #c5d8b2;
	--ion-color-warning-tint: #e3f7cf;

	--ion-color-danger: #4FB6EC;
	--ion-color-danger-rgb: 79,182,236;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #46a0d0;
	--ion-color-danger-tint: #61bdee;

	--ion-color-light: #e9d3e6;
	--ion-color-light-rgb: 233,211,230;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #cdbaca;
	--ion-color-light-tint: #ebd7e9;

	--ion-color-medium: #a8f0ad;
	--ion-color-medium-rgb: 168,240,173;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #94d398;
	--ion-color-medium-tint: #b1f2b5;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

}